* {
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/head.jpg);
    height: 1024px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 740px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;


    &__title {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        padding-top: 32px;
        width: 481px;
    }

    &__title_fat {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
}

.button {
    width: 234.063px;
    height: 48.603px;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 44px;
    a:-webkit-any-link {
        color: -webkit-link;
        cursor:url(img/clarity_cursor-hand-line.svg), pointer;
}
}

.cart {
    background: #000915;
    padding-top: 124px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    &__game_1 {
        cursor: url(/img/clarity_cursor-hand-line.svg), pointer;
    }
}

@import "mobile";